*.pdb
*.suo
*.obj
*.tlog
*.log
*.idb
*.7z
*.rar
*.zip
*.dll
*.cache
agora/*.lib
base_project/*.lib
nim/*.lib
*/Debug/*
*/Release/*
*/Win32/*
*/GeneratedFiles/*
*/*.sdf
*.sdf
*.opensdf
*/QtGuiApplication1/*
*/test/*
*/GeneratedFiles/*
*/compileResults.log
common_project.bat
moc_*
tool_kits/QtGuiApplication2/*